<div class="accordion" id="task-list">
  <div class="card" *ngFor="let task of tasks;">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
          {{ task.title }}
        </button>
      </h5>
    </div>
    <div id="collapse" class="collapse show" aria-labelledby="headingOne" data-parent="#task-list">
      <div class="card-body">
				{{ task.description }}
      </div>
    </div>
  </div>
</div>