<!--<div class="accordion" id="task-list">
  <div class="card" *ngFor="let task of tasks; let i = index">
    <div class="card-header" id="{{'heading' + i}}">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
          {{ task.title }}
        </button>
      </h5>
    </div>
    <div id="{{'collapse' + i}}" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#task-list">
      <div class="card-body">
				{{ task.description }}
      </div>
    </div>
  </div>
</div>-->

<app-task *ngFor="let task of tasks" [task]="task"></app-task>